* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Heebo;
    background-color: #f8f8f8;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

/* Navbar */

.navbar-wrapper {
    padding: 26px 60px;
    display: flex;
    justify-content: space-between;
}

.desktop-nav {
    display: flex;
    text-transform: capitalize;
    color: red;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    gap: 36px;
}

.home-icon {
    color: black;
    font-size: 30px;
}

.nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.hamburger-wrapper {
    display: none;
    font-size: 30px;
}

.menu-toggle {
    display: none;
}



.mobile-nav {
    display: none;
    background-color: black;
    flex-direction: column;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    gap: 18px;
    width: 40%;
    padding: 20px;
    z-index: 20;
    position: absolute;
    top: 77px;
    right: 0;
}

.mobile-nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: none;
}


.mobile-nav-item {
    display: flex;
}

#hamburger:checked~.mobile-nav {
    display: block;
}

#hamburger:checked.body {
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
        position: relative;
    }

    .hamburger-wrapper {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .hamburger-wrapper {

        font-size: 25px;
    }

    .home-icon {

        font-size: 25px;
    }
}


.blogs h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 55px;

}

.blogs {

    display: flex;
    flex-direction: column;
    padding-left: 235px;
    padding-top: 106px;

}

.blog-content h2 {
    font-size: 30px;
    font-weight: 500;
}

.meta {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 15px;

}

.blog-content p {

    font-size: 16px;
    max-width: 682px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 32px;
     text-align: justify;

}


.separator {
    padding-left: 4px;
    padding-right: 4px;
}

@media screen and (max-width: 992px) {

    .blogs {

        padding-left: 150px;
        padding-Right: 120px;
        padding-top: 90px;


    }

    .blogs h1 {

        font-size: 40px;
    }

    .blog-content h2 {
        font-size: 25px;
        font-weight: 500;
    }


}


@media screen and (max-width: 768px) {

    .blogs {

        padding-left: 130px;
        padding-Right: 120px;
        padding-top: 90px;

    }

    .blog-content h2 {
        font-size: 28px;
    
    }


    .blogs h1 {
        font-size: 35px;
    }

    .meta {
        font-size: 18px;
    }

    .blog-content p {

        font-size: 16px;
       

    }

}

@media screen and (max-width: 576px) {

    .blogs {

        padding-left: 100px;
        padding-Right:80px;
        padding-top: 70px;

    }
     .blogs h1 {

        font-size: 30px;
    }


    .blog-content h2 {
        font-size: 20px;
        font-weight: 500;
    }


   
    .meta {
        font-size: 16px;

    }

    .blog-content p {

        font-size: 16px;

    }

}


/* footer */

.foot {

    text-align: center;
    padding-top: 58px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 54px;
}

.social-icons {
    display: inline-block;
    padding-bottom: 26px;

}

.social-icons i {
    font-size: 30px;
    padding-right: 35px;
}


.foot p {
    font-size: 14px;
    font-weight: 400;
}



@media screen and (max-width: 768px) {

    .foot {

        text-align: center;
        padding-top: 40px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 576px) {

    .foot {

        text-align: center;
        padding-top: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 50px;
    }

    .social-icons i {
        font-size: 25px;
        padding-right: 25px;
    }

}