/* * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Heebo;
    background-color: #f8f8f8;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

.home {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    padding-left: 60px;

}

.home i {
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    padding-top: 27px;
    padding-right: 60px;
    padding-bottom: 20px;

}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;

}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
}

label {
    display: none;
}

label i {
    color: rgb(0, 0, 0);
    margin-right: 8px;
    font-size: 22px;
}

.active {
    border-bottom: 2px solid white;
}

.desktop-nav {
    display: flex;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    gap: 20px;

}

.mobile-nav {
    font-size: 20px;
    position: absolute;
    z-index: 9999;;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color:#1d1f43;
    list-style: none;
    gap: 25px;
    padding: 50px;
    display: none;
    left: 0;
    top: 55px;
    right: 0;
    bottom: 0;
   
}

.mobile-nav a:hover {
    background-color: bisque;
    color: rgb(21, 21, 58);
}

input[type='checkbox']:checked~.mobile-nav {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    padding: 210px 148px 71px 148px;
    gap: 50px;
}


.hero-text h1 {
    font-weight: 700px;
    font-size: 44px;
    height: 105px;
    width: 506px;
}

.hero-text p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    height: 66px;
    width: 497px; 
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #ff6464;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    top: 38px;
    width: 208px;
    height: 47px;
    font-weight: 500px;
    
}

.hero-img {
    justify-content: start;
    top: 210;
    height: 243px;
    width: 243px;
}

.profile-pic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Heebo;
    background-color: #f8f8f8;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

/* Navbar */

.navbar-wrapper {
    padding: 26px 60px;
    display: flex;
    justify-content: space-between;
}

.desktop-nav {
    display: flex;
    text-transform: capitalize;
    color: red;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    gap: 36px;
}

.home-icon {
    color: black;
    font-size: 30px;
}

.nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.hamburger-wrapper {
    display: none;
    font-size: 30px;
}

.menu-toggle {
    display: none;
}



.mobile-nav {
    display: none;
    background-color: black;
    flex-direction: column;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    gap: 18px;
    width: 40%;

    padding: 20px;
    z-index: 20;

    position: absolute;
    top: 77px;
    right: 0;
}

.mobile-nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: none;
}


.mobile-nav-item {
    display: flex;
}

#hamburger:checked~.mobile-nav {
    display: block;
}

#hamburger:checked.body {
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
        position: relative;
    }

    .hamburger-wrapper {
        display: block;
    }
}

@media screen and (max-width: 576px) {
.hamburger-wrapper {
    
    font-size: 25px;
}

.home-icon {
    
    font-size: 25px;
}
}



/* Hero Section */
.hero-wrapper {
    width: 100%;
}

.hero-inner-wrapper {
    padding: 160px 150px 70px;
    display: flex;
}

.hero-texts {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}


.hero-header {
    font-weight: 700;
    font-size: 44px;
}

.hero-sub-header {
    font-weight: 400px;
    font-size: 16px;
    text-align: justify;
}

.hero-button {
    background-color: #FF6464;
    color: white;
    font-weight: 500px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
}

.hero-image {
    width: 40%;
    display: flex;
    justify-content: end;
}

.profile-pic {
    height: 243px;
    width: 243px;
    border-radius: 50%;
}

/* tab device */
@media screen and (max-width: 992px) {

    .hero-inner-wrapper {
        flex-direction: column;
        padding: 70px 75px;
        gap: 32px;
    }

    .hero-texts {
        width: 100%;
        gap: 20px;
        order: 1;
    }

    .hero-image {
        width: 100%;
        justify-content: center;
        order: 0;
    }
}

/* small device */
@media screen and (max-width: 576px) {

    .hero-inner-wrapper {
        padding: 36px 24px;
    }

    .hero-texts {
        justify-content: center;
        align-items: center;
    }

    .hero-header {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
    }

    .hero-sub-header {
        text-align: center;
    }

    .profile-pic {
        height: 170px;
        width: 170px;
    }
}

/* recent-post */

.content {
    position: relative;
    background-color: #eef8fc;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.con-header {
    display: flex;

    gap: 20px;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 22px;
}

.recent {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    margin: 0;

}

.view-all {
    color: #00a8cc;
    cursor: pointer;
    font-size: 16px;

}

.posts-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
}

.post-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

.post-card h2 {
    font-size: 26px;
    margin-bottom: 17px;
    color: #111;
    font-weight: 700;
}

.meta {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 11px;
}

.separator {
    margin: 0 8px;
}

.description {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    text-align: justify;
}


@media screen and (max-width: 576px) {


    .posts-container {
        flex-direction: column;

    }

}



/* Feature CSS */

.featured-works {
    padding-left: 146px;
    padding-top: 78px;

}

.featured-works h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
}

.work-item {
    display: flex;
    gap: 18px;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-top: 22px;
    border-bottom: 1px solid #e0e0e0;
}

.work-item img {
    width: 246px;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.caption-text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #21243d;
    margin-bottom: 16px;
}

.featured-meta {
    display: flex;
    gap: 28px;
    padding-bottom: 32px;
}

.year {
    background-color: #21243d;
    color: #ffffff;
    padding: 1px 10px;
    font-size: 18px;
    border-radius: 16px;
    text-align-last: center;
    font-weight: 900;
}

.category {
    color: #8695a4;
    font-size: 20px;
    font-weight: 400;
}

.caption-text p {
    max-width: 594px;
    font-size: 16px;
    text-align: justify;
}



/* tab */
@media screen and (max-width: 992px) {
    .featured-works {
        padding-left: 100px;
        padding-right: 50px;
    }

    .caption-text p {

        text-align: justify;
    }


}


@media screen and (max-width: 768px) {
    .featured-works {
        padding-left: 80px;
        padding-top: 50px;
    }

    .work-item img {
        width: 200px;
        height: 150px;

    }

    .caption-text h3 {
        font-size: 20px;
        font-weight: 700;
        color: #21243d;
        margin-bottom: 16px;
        
    }

    .featured-meta {
        gap: 15px;
        padding-bottom: 10px;
    }

    .category {
        font-size: 18px;

    }

    .caption-text p {
        max-width: 400px;
        font-size: 14px;
        text-align: justify;
    }

}

@media screen and (max-width: 576px) {
    .featured-works h2 {
        text-align: center;
    }

    .featured-works {
        padding-left: 50px;
        padding-top: 30px;

    }


    .work-item {

        flex-direction: column;
        gap: 12px;
        margin-bottom: 40px;
        padding-bottom: 15px;
        margin-top: 10px;
        border-bottom: 1px solid #e0e0e0;
        align-items: center;
        justify-content: center;
    }

    .work-item img {
        width: 246px;
        height: 180px;

    }
    .caption-text h3 {
        text-align: center;
        
    }

    .featured-meta {
        gap: 15px;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .category {
        font-size: 16px;

    }

    .year {

        padding: 1px, 8px;
        font-size: 16px;

    }

    .caption-text p {
        max-width: 400px;
        font-size: 14px;
        text-align: justify;
    }

}

/* footer */

.foot {

    text-align: center;
    padding-top: 58px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 54px;
}

.social-icons {
    display: inline-block;
    padding-bottom: 26px;

}

.social-icons i {
    font-size: 30px;
    padding-right: 35px;
}

.foot p {
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .foot {

        text-align: center;
        padding-top: 40px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 576px) {

    .foot {

        text-align: center;
        padding-top: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 50px;
    }

    .social-icons i {
        font-size: 25px;
        padding-right: 25px;
    }

}